site_name: Theme Café
theme:
  static_templates:
    - 404.html
  custom_dir: docs/material
  logo: assets/logo/cafe.png
  name: material
  icon:
    admonition:
      note: octicons/tag-16
      abstract: fontawesome/solid/book
      info: fontawesome/solid/circle-info
      tip: fontawesome/solid/bullhorn
      success: fontawesome/solid/check
      question: fontawesome/solid/circle-question
      warning: fontawesome/solid/triangle-exclamation
      danger: fontawesome/solid/skull
      bug: fontawesome/solid/robot
      example: fontawesome/solid/flask
      quote: fontawesome/solid/quote-left
  features:
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
    - content.code.annotation
    - content.code.copy
    - navigation.indexes
  language: en
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline 
        name: Switch to dark mode
      primary: teal
      accent: purple
    - scheme: slate 
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode    
      primary: teal
      accent: purple
  favicon: assets/favicon.png
markdown_extensions:
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - attr_list
  - md_in_html
  - pymdownx.blocks.caption
  - admonition
  - pymdownx.details
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
extra_css:
  - install/patching/rom-patcher-js/style.css
  - stylesheets/extra.css
not_in_nav: |
  md.md
  themiify.md
  themecreation/tutorials_old/bootsound.md
  resources/index.md
  resources/**/**.md

nav:
  - Home: index.md
  - Install:
    - install/index.md
    - Menu Files: install/files.md
    - Patching: install/patching.md
    - Loading Theme: install/loading.md
    - Fonts: install/fonts.md
    - Troubleshooting: troubleshooting.md
    - Credits: credits.md
  - Theme Creation:
      - themecreation/index.md
      - Static:
        - themecreation/themes/static/index.md
      - Animated:
        - themecreation/themes/animated/index.md
        - Frame-based: themecreation/themes/animated/Frame.md
        - Scrolling: themecreation/themes/animated/Scrolling.md
      - Music: 
        - themecreation/music/index.md
      - Advanced:
        - Launcher: themecreation/advanced/launcher.md
        - Wara Wara Plaza: themecreation/advanced/wwp.md
      - General Tutorials: 
        - Changing Colors: themecreation/general/colors.md 
        - Textures: themecreation/general/textures.md
        - Exporting / Replacing: themecreation/general/exportimport.md
        - Splash Screen: themecreation/general/splash.md
        - Mix Themes: themecreation/general/mixthemes.md

      - themecreation/sharing.md

      - Archived:
        - themecreation/tutorials_old/index.md
        - New Creator: themecreation/tutorials_old/newcreator.md
        - Arrows: themecreation/tutorials_old/arrows.md
        - Floor: themecreation/tutorials_old/floor.md
        - Frame by frame: themecreation/tutorials_old/framebyframe.md
        - Layers: themecreation/tutorials_old/layers.md 
        - Music: themecreation/tutorials_old/music.md
        - Scrolling: themecreation/tutorials_old/scrolling.md
        - Static: themecreation/tutorials_old/static.md 
        - Static to WWP: themecreation/tutorials_old/statictowwp.md
        - Minimalist: themecreation/tutorials_old/minimalist.md

extra:
  generator: false
  social:
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/2DNvH9db2A
      name: Theme Café
    - icon: fontawesome/brands/github
      link: https://github.com/Gatokun/Gatokun.github.io
      name: Docs Github Repository